* {
  font-family: Oranienbaum, serif;
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  }

html,
body {
  margin: 0px;
  height: 100%;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  background: #757263;
  z-index: 2;
}

/* PAGE TITLE */

#title {
  background: #E1CCBE;
  border-radius: 20px;
  padding: 5px;
  position: fixed;
  top: 25px;
  left: 50px;
  display: inline-block;
}

#title h1 {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  text-transform: uppercase;
}

#title h5 {
  padding: 4px 0 0 0;
}

#title a {
  text-decoration: none;
}

/* NAVIGATION */

nav {
  position: fixed;
  top: 25px;
  right: 50px;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 2px 10px; 
}

nav a:hover {
  background: #E1CCBE;
  color: #757263;
  border-color: #E1CCBE; 
  text-decoration: none;
}

nav a:active {
  background: #757263;
  color: #E1CCBE;
}

/* DIVIDER */

#divider {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 1;
}

#divider path {
fill: #757263;
}

/* MAIN */

main {
  position: relative;
  overflow: scroll;
  background: #fff;
  height: 100%;
  width: 100%;
}

.hero {
  width: 500px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.hero img {
  border-radius: 50%;
  width: 100%;
  opacity: 0.75;
}

.welcome {
  display: block;
  width: 500px;
  position: absolute;
  top: 125px;
  left: 0;
  text-align: right;
  font-size: 48px;
  color: #757263;
  letter-spacing: 10px; 
}

section {
  position: relative;
  padding: 100px 10% 0;
}

.wide {
  padding: 100px 0 0;
}

article {
  margin: 20px 0;
}
.text-container {
  break-inside: avoid;
  margin: 0 0 20px 0;
  display: inline-block;
  width: 100%;
}

p {
  margin: 20px 0;
  text-align: justify;
}

li {
  margin-left: 20px;
}

.plainlist {
  margin: 0;
  list-style-type: none;
  font-family: Oranienbaum, serif;
  font-size: 32px;
  color: #757263;
  letter-spacing: 10px; 
  text-transform: lowercase;
}

.container {
  border: 5px solid #E1CCBE;
  padding: 2%;
  margin: 20px 0;
}

/* COLUMNS */

.col2 {
  column-count: 2;
  column-width: 300px;
}

.colspan {
  column-span: all;
}

/* HEADINGS */

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 72px;
  color: #757263;
}


h2 {
  font-family: Oranienbaum, serif;
  font-size: 32px;
  color: #757263;
  letter-spacing: 10px; 
  text-transform: lowercase;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  color: #757263;
}

h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  color: #757263;
}

h5 { 
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #757263;
}

h6 {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #757263;
}

/* COLORS */
.circle {
  border-radius: 50%;
  border: 1px solid #757263;
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  margin: 0 20px;
}

.darkC {
  background-color: #757263;
  color: #E1CCBE;
}

.lightC {
  background-color: #FFF;
}

.accentC {
  background-color: #E1CCBE;
}

.textC {
  background-color: #000;
  color: #E1CCBE;
}

/* LINKS */
  
a {
  text-decoration: none;
  color: #E1CCBE;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #757263;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background: #757263;
  z-index: 2;
}

footer h6 {
  text-align: right;
  padding: 6px;
  color: #fff;
}

/* FONTS */

.paragraph-font {
  font-family: Oranienbaum, serif;
}

.title-font {
  font-family: 'Bebas Neue', sans-serif;
}

.accent-font {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

.zh-font {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
  margin: 0 0 20px 0;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 800;
}

.condensed {
  margin: 0;
}

.center {
  text-align: center;
}
