* {
    font-family: Oranienbaum, serif;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    padding: 0;
    margin: 0;
  }
   
  
  p {
    padding: 20px 55px;
  }
   
   
  a {
    text-decoration: none;
    color: #E1CCBE;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: #757263;
    }


  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 66px;
    background: #757263;
    z-index: 2;
  }


  nav {
    position: fixed;
    top: 25px;
    right: 50px;
    display: inline-block;
  }


  nav li {
    display: inline-block;
  }


  nav a {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 2px 10px; 
  }

  nav a:hover {
    background: #E1CCBE;
    color: #757263;
    border-color: #E1CCBE; 
    text-decoration: none;
  }

  nav a:active {
    background: #757263;
    color: #E1CCBE;
  }


  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    color: #757263;
    text-align: center;
  }

  h6 {
    font-size: 14px;
    color: #757263;
    text-align: center;
    padding: 4px 0 0 0;
  }


  #title {
    background: #E1CCBE;
    border-radius: 20px;
    padding: 5px;
    position: fixed;
    top: 25px;
    left: 50px;
    display: inline-block;
  }

  #title h1,
  #title h6 {
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    text-transform: uppercase;
  }

  #title a {
    text-decoration: none;
  }


  #divider {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 1;
  }


  #divider path {
	fill: #757263;
  }

  main {
    position: relative;
    overflow: scroll;
    background: #fff;
  }

  .section {
    padding: 100px 0 0 0;
  }

  .hero {
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: auto;
    position: relative;
  }

  .hero img {
    border-radius: 50%;
    width: 100%;
    opacity: 0.75;
  }

  .moon {
    text-align: right;
    font-size: 48px;
    color: #757263;
    letter-spacing: 10px;
    display: block;
    width: 500px;
    position: absolute;
    top: 125px;
    left: 0;
  }
